{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": "**/*.hbs",
      "options": {
        "parser": "angular"
      }
    }
  ]
}